# **LEETCODE PANDA's STUDY PLAN**

Q1 )
---

## Create DataFrame from 2D List

Write a solution to create a DataFrame from a 2D list called `student_data`. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, `student_id` and `age`, and be in the same order as the original 2D list.

The result format is in the following example:

**Example 1:**

**Input:**
`student_data`:
```
[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
```

**Output:**
```
+------------+-----+
| student_id | age |
+------------+-----+
| 1          | 15  |
| 2          | 11  |
| 3          | 11  |
| 4          | 20  |
+------------+-----+
```

**Explanation:**
A DataFrame was created on top of `student_data`, with two columns named `student_id` and `age`.

---

Ans 1)
---

## Understanding DataFrames in Pandas

A **DataFrame** is a versatile and efficient data structure offered by the pandas library. It resembles a 2D table, much like a spreadsheet or SQL table. In this structure, each row represents an individual record, while each column represents a distinct attribute.

### Purpose

The primary objective of this solution is to transform a 2D list into a pandas DataFrame. This is a common application of the pandas library when you have raw data in list format and want to convert it into a more structured, labeled format for simplified analysis.

### Key Concepts

- **2D List**: A list of lists in which each inner list represents a row of data.
- **DataFrame**: A 2-dimensional labeled data structure provided by pandas for structured data handling.

### Implementation Steps

1. **Importing pandas**:

   To utilize pandas, start by importing the library:

   ```python
   import pandas as pd
   ```

   This line imports pandas and assigns it the alias 'pd'. Pandas is known for its swift, flexible, and expressive data structures designed for structured data processing.

2. **Function Definition**:

   Define a function named `createDataframe` that accepts a 2D list, `student_data`, as an argument, and returns a pandas DataFrame:

   ```python
   def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
   ```

3. **Using pd.DataFrame()**:

   Transform the `student_data` 2D list into a DataFrame using the `pd.DataFrame()` function:

   ```python
   pd.DataFrame(student_data)
   ```

   The resulting DataFrame will contain default headers labeled as 0 and 1, created automatically using integer indices.

4. **Custom Column Names** (Optional):

   If you want to define custom column names, you can do so using the `columns` parameter. Create a list of column names in the desired order and provide it as a parameter to `pd.DataFrame()`:

   ```python
   column_names = ["student_id", "age"]
   pd.DataFrame(student_data, columns=column_names)
   ```

   This approach allows you to assign meaningful names to your DataFrame columns.


With these steps, you can effectively convert a 2D list into a structured DataFrame, facilitating organized data analysis.

---

Code
```
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    # Converting 2D list into data frame
    # Here we want only two column from 2D list formed as data frame
    df = pd.DataFrame(student_data,columns=['student_id', 'age'])
    return df
    
```

# Q2)

```markdown
## 2878. Get the Size of a DataFrame

### Solved
### Easy
### Companies
### Hint

**DataFrame players:**
| Column Name | Type   |
|-------------|--------|
| player_id   | int    |
| name        | object |
| age         | int    |
| position    | object |
| ...         | ...    |

Write a solution to calculate and display the number of rows and columns of players.

Return the result as an array:

```python
[number of rows, number of columns]
```

The result format is in the following example.

### Example 1:

#### Input:

| player_id | name     | age | position    | team               |
|-----------|----------|-----|-------------|--------------------|
| 846       | Mason    | 21  | Forward     | RealMadrid         |
| 749       | Riley    | 30  | Winger      | Barcelona          |
| 155       | Bob      | 28  | Striker     | ManchesterUnited   |
| 583       | Isabella | 32  | Goalkeeper  | Liverpool          |
| 388       | Zachary  | 24  | Midfielder  | BayernMunich       |
| 883       | Ava      | 23  | Defender    | Chelsea            |
| 355       | Violet   | 18  | Striker     | Juventus           |
| 247       | Thomas   | 27  | Striker     | ParisSaint-Germain |
| 761       | Jack     | 33  | Midfielder  | ManchesterCity     |
| 642       | Charlie  | 36  | Center-back | Arsenal            |

#### Output:

```python
[10, 5]
```

**Explanation:**
This DataFrame contains 10 rows and 5 columns.
```

# Ans 2)

## Overview

This problem requires us to return the number of rows and columns present in the players DataFrame.

### Key Concepts:

- **Attribute:** In Python's pandas library, an attribute refers to a property or characteristic of an object that helps describe the object's state or its meta-information. Attributes in pandas are used to access various properties of DataFrame or Series objects, allowing users to retrieve meta-information or underlying data without performing a computation or causing side effects.

- **shape attribute:** Returns the dimensions of the DataFrame or Series in the form of a tuple (rows, columns).

### Intuition

Here's a step-by-step breakdown of the solution:

1. **Importing the Required Library:**

   ```python
   import pandas as pd
   ```

   We first need to import the pandas library, which is a powerful tool in Python for data manipulation and analysis.

2. **Defining the function:**

   ```python
   def getDataframeSize(players: pd.DataFrame) -> List:
   ```

   This line defines a new function named `getDataframeSize` which takes a DataFrame `players` as an input argument and returns a list that contains the number of rows and columns in the DataFrame `players`.

3. **Using the shape attribute:**

   Every DataFrame in pandas has a shape attribute. When you call it, it returns a tuple (number of rows, number of columns). In our case, for the given players DataFrame, the shape would be (10, 5) because there are 10 players and 5 attributes for each player.

4. **The Function:**

   ```python
   return [players.shape[0], players.shape[1]]
   ```

   `players.shape[0]` gives the number of rows in the DataFrame `players`.
   `players.shape[1]` gives the number of columns in the DataFrame `players`.

   This line thus returns a list containing these two values: `[players.shape[0], players.shape[1]`.

### Using the Solution

When you pass this DataFrame to the function, it will return:

```python
[10, 5]
```

---
Code
```
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    return [players.shape[0], players.shape[1]]
```

# Q3)
## Display the First Three Rows
```
**DataFrame:** `employees`

+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| employee_id | int    |
| name        | object |
| department  | object |
| salary      | int    |
+-------------+--------+

Write a solution to display the first 3 rows of this DataFrame.

### Example

**Input:**
DataFrame `employees`

+-------------+-----------+-----------------------+--------+
| employee_id | name      | department            | salary |
+-------------+-----------+-----------------------+--------+
| 3           | Bob       | Operations            | 48675  |
| 90          | Alice     | Sales                 | 11096  |
| 9           | Tatiana   | Engineering           | 33805  |
| 60          | Annabelle | InformationTechnology | 37678  |
| 49          | Jonathan  | HumanResources        | 23793  |
| 43          | Khaled    | Administration        | 40454  |
+-------------+-----------+-----------------------+--------+

**Output:**

+-------------+---------+-------------+--------+
| employee_id | name    | department  | salary |
+-------------+---------+-------------+--------+
| 3           | Bob     | Operations  | 48675  |
| 90          | Alice   | Sales       | 11096  |
| 9           | Tatiana | Engineering | 33805  |
+-------------+---------+-------------+--------+

**Explanation:**
Only the first 3 rows are displayed.

```

# Ans 3)
## Overview

This problem requires us to return the first 3 rows of the employees DataFrame.

### Key Concepts

- **DataFrame:** a 2D table-like structure, similar to a spreadsheet or SQL table. Each row represents an individual record, and each column represents a different attribute. It is size-mutable and designed to handle a mix of different types of data.
- **head method:** a method provided by the pandas library that is used on a DataFrame to return the first n rows. If n is omitted, it defaults to returning the first 5 rows. This is useful to get an overview or a quick look at the beginning of large datasets.

### Intuition

Let's explore step by step how to return the first 3 rows of a DataFrame.

1. **Importing pandas:**

    ```python
    import pandas as pd
    ```

    This line imports the pandas library and gives it an alias name pd. The pandas library provides fast, flexible, and expressive data structures designed to work with structured (tabular, multidimensional, potentially heterogeneous) data.

2. **Utilizing head:**

    Let's look at an example to see how we can use the `head` method to solve our problem.

    Given the employees DataFrame as:

    ```python
    employee_id	name	department	salary
    3	Bob	Operations	48675
    90	Alice	Sales	11096
    9	Tatiana	Engineering	33805
    60	Annabelle	InformationTechnology	37678
    49	Jonathan	HumanResources	23793
    43	Khaled	Administration	40454
    ```

    We return the employees DataFrame using the `head` method with an input of 3, to indicate we want to return the first 3 rows:

    ```python
    return employees.head(3)
    ```

    The DataFrame returned is then:

    ```python
    employee_id	name	department	salary
    3	Bob	Operations	48675
    90	Alice	Sales	11096
    9	Tatiana	Engineering	33805
    ```


---
Code
<br> method 1)
```
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)
```
method 2)
```
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.iloc[[0,1,2]]
```

#Q4)

# Select Data
```
* DataFrame students
  +-------------+--------+
  | Column Name | Type   |
  +-------------+--------+
  | student_id  | int    |
  | name        | object |
  | age         | int    |
  +-------------+--------+

Write a solution to select the name and age of the student with student_id = 101.

## The result format is in the following example.

### Example 1:

**Input:**
  +------------+---------+-----+
  | student_id | name    | age |
  +------------+---------+-----+
  | 101        | Ulysses | 13  |
  | 53         | William | 10  |
  | 128        | Henry   | 6   |
  | 3          | Henry   | 11  |
  +------------+---------+-----+

**Output:**
  +---------+-----+
  | name    | age |
  +---------+-----+
  | Ulysses | 13  |
  +---------+-----+

**Explanation:**
Student Ulysses has student_id = 101, we select the name and age.

# Ans 4)
Certainly, here's the provided text converted into Markdown format:

# Overview

This problem involves working with a pandas DataFrame, a 2D table-like structure used to manage data. The task at hand requires us to extract specific information from the DataFrame, particularly details about one student's record.

## Key Concepts

1. **DataFrame**: A DataFrame is a 2D tabular data structure in pandas, where each row represents a distinct record, and each column signifies different attributes or features. It's versatile, adjustable, and ideal for managing heterogeneous data types.

2. **loc Attribute**: The `.loc` attribute is a primary method for selecting data from a DataFrame. It is label-based, which means you specify the row or column names to access data.

3. **Boolean Mask**: A Boolean mask is a sequence of True/False values that serve as a filter or selector for elements in another data structure, like a list, array, or DataFrame. It's employed to isolate data based on specific conditions.

## Intuition

The provided DataFrame, "students," consists of three columns:

- **student_id** (data type: int): A unique identifier for each student.
- **name** (data type: object, typically a string): The name of the student.
- **age** (data type: int): The age of the student.

Our task involves creating a function that takes the DataFrame as an input and returns a new DataFrame with specific information. We will utilize the `.loc` function inside our function to select the row where the "student_id" is 101 and extract the values in the "name" and "age" columns.

Here's a step-by-step overview:

1. Import the pandas library: `import pandas as pd`
2. Define the function as follows:
   ```python
   def selectStudentData(students: pd.DataFrame) -> pd.DataFrame:
       return students.loc[students['student_id'] == 101, ['name', 'age']]
   ```

   In this function, we employ `.loc` to filter the DataFrame based on the condition that the "student_id" is equal to 101. We specify the columns 'name' and 'age' that we want to retrieve from the matching row.

The result will be a new DataFrame containing the name and age of the student with a "student_id" of 101.

## Usage

To utilize this function, you can pass the "students" DataFrame as an argument, like this:

```python
selected_data = selectStudentData(students)
```

This "selected_data" DataFrame will contain the information you need.

---

Code
```
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students.loc[students['student_id'] == 101, ['name', 'age']]
        
```

#Q5)
## Create a new column

| Column Name | Type |
|-------------|------|
| name        | object |
| salary      | int   |

A company plans to provide its employees with a bonus.

Write a solution to create a new column named "bonus" that contains the doubled values of the "salary" column.

The result format is in the following example:

#### Example 1:

**Input:**
DataFrame employees

| name    | salary |
|---------|--------|
| Piper   | 4548   |
| Grace   | 28150  |
| Georgia | 1103   |
| Willow  | 6593   |
| Finn    | 74576  |
| Thomas  | 24433  |

**Output:**

| name    | salary | bonus  |
|---------|--------|--------|
| Piper   | 4548   | 9096   |
| Grace   | 28150  | 56300  |
| Georgia | 1103   | 2206   |
| Willow  | 593    | 13186  |
| Finn    | 74576  | 149152 |
| Thomas  | 24433  | 48866  |

**Explanation:**
A new column "bonus" is created by doubling the value in the "salary" column.

# Ans 5)

### Overview

This problem requires us to create a new column 'bonus' in the DataFrame employees. The new column should contain double the value of each employee's salary.

**Key Concepts:**

- **pandas Series:** a one-dimensional data structure provided by the pandas library. A Series can be thought of as a column of data in a pandas DataFrame. A Series can contain a wide range of data types, but they are homogeneous, meaning that all elements within one pandas Series must be of the same data type. Like DataFrames, Series are indexed and can be labeled for easy data retrieval.

- **pandas DataFrame:** similar to a SQL table, a DataFrame is a collection of Series displayed as columns. They are size-mutable, meaning we can add, delete, and alter values, rows, and columns in a DataFrame.

- **column-wise operations:** operations that can be performed on each individual element in a DataFrame Series. A few examples of types of column-wise operations are arithmetic operations, aggregate functions, filtering and conditional operations, and string operations.

**Intuition**

To solve this problem, we can create a new column and calculate the bonus using the column-wise operation * to multiply the salary column by 2.

The simplest way to create a new column will be to assign the new column to the employees DataFrame using the column name. Then, we will set it equal to the value of the salary column multiplied by two.

**Example:**

If you have the following DataFrame:

| name  | salary |
|-------|--------|
| Piper | 4548   |
| Grace | 28150  |

`employees['salary']` would give:

| index | salary |
|-------|--------|
| 0     | 4548   |
| 1     | 28150  |

pandas allows for vectorized operations. When you multiply a Series by a scalar (a single number), it multiplies every single element in the Series by that number. In our case, we want to use this to double each value in the salary column.

Using the previous DataFrame, `employees['salary'] * 2` would result in:

| index | bonus |
|-------|-------|
| 0     | 9096  |
| 1     | 56300 |

We can assign these values to a new (or existing) column in the DataFrame. If the column bonus doesn't already exist, pandas will create it.

When we do `employees['bonus'] = employees['salary'] * 2`, we're creating a new column called bonus in the DataFrame employees and populating it with the doubled values of the salary column.


---
Code
```
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary'] * 2
    return employees
```

# Q6)
### Drop Duplicate Rows

| Column Name | Type |
|-------------|------|
| customer_id | int  |
| name        | object |
| email       | object |

There are some duplicate rows in the DataFrame based on the email column.

Write a solution to remove these duplicate rows and keep only the first occurrence.

The result format is in the following example:

#### Example 1:
```
**Input:**
| customer_id | name    | email               |
|------------|---------|---------------------|
| 1          | Ella    | emily@example.com   |
| 2          | David   | michael@example.com |
| 3          | Zachary | sarah@example.com   |
| 4          | Alice   | john@example.com    |
| 5          | Finn    | john@example.com    |
| 6          | Violet  | alice@example.com   |

**Output:**
| customer_id | name    | email               |
|------------|---------|---------------------|
| 1          | Ella    | emily@example.com   |
| 2          | David   | michael@example.com |
| 3          | Zachary | sarah@example.com   |
| 4          | Alice   | john@example.com    |
| 6          | Violet  | alice@example.com   |

**Explanation:**
Alice (customer_id = 4) and Finn (customer_id = 5) both use john@example.com, so only the first occurrence of this email is retained.

# Ans 6)

### Overview

In this problem, we have a DataFrame named customers that consists of details like customer_id, name, and email. The goal is to remove duplicate rows based on the email column and only keep the first occurrence of any duplicated email.

**Key Concepts:**

- **DataFrame:** a 2D table-like structure, similar to a spreadsheet or SQL table. Each row represents an individual record, and each column represents a different attribute. It is size-mutable and designed to handle a mix of different types of data.

- **drop_duplicates Function:** The `drop_duplicates` function is a method of the DataFrame object in the pandas library. Its purpose is to drop duplicate rows, and you can specify the criteria based on which the rows are considered duplicates.

**drop_duplicates Function Argument Definition:**

- **subset:** This is the column label or sequence of labels to consider for identifying duplicate rows. If not provided, it considers all columns in the DataFrame.

- **keep:** This argument determines which duplicate row to retain.

    - `'first'`: (default) Drop duplicates except for the first occurrence.
    
    - `'last'`: Drop duplicates except for the last occurrence.
    
    - `False`: Drop all duplicates.

- **inplace:** If set to True, the changes are made directly to the object without returning a new object. If set to False (default), a new object with duplicates dropped will be returned.

**Intuition**

Let’s go step by step through the provided solution:

1. Importing pandas:

    ```python
    import pandas as pd
    ```

    This imports the pandas library and gives it an alias pd. pandas is a fast, powerful, flexible, and easy-to-use open-source data analysis and data manipulation library built on top of the Python programming language.

2. Defining the function:

    ```python
    def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    ```

    This line defines a new function named dropDuplicateEmails which takes a DataFrame customers as an input argument and returns a DataFrame.

3. Dropping duplicate rows based on email:

    ```python
    customers.drop_duplicates(subset='email', keep='first', inplace=True)
    ```

    This line uses the drop_duplicates method on the customers DataFrame.

    - `subset='email'`: This means that we are considering duplicates based on the email column only.
    
    - `keep='first'`: This indicates that we want to keep the first occurrence of any duplicated email and drop the subsequent occurrences.
    
    - `inplace=True`: This means the changes will be made directly to the passed DataFrame (customers) without returning a new one.

4. Returning the modified DataFrame:

    ```python
    return customers
    ```

    Finally, we return the modified customers DataFrame with the duplicate rows based on email removed.

**Using the Solution**

By using the provided function, you can clean up the data in your customers DataFrame and ensure that each customer's email is unique, helping maintain data integrity. If two customers have the same email address, only the first one encountered will be kept in the resulting DataFrame.

When you pass this DataFrame to the function:

| customer_id | name    | email               |
|------------|---------|---------------------|
| 1          | Ella    | emily@example.com   |
| 2          | David   | michael@example.com |
| 3          | Zachary | sarah@example.com   |
| 4          | Alice   | john@example.com    |
| 5          | Finn    | john@example.com    |
| 6          | Violet  | alice@example.com   |

It will return:

| customer_id | name    | email               |
|------------|---------|---------------------|
| 1          | Ella    | emily@example.com   |
| 2          | David   | michael@example.com |
| 3          | Zachary | sarah@example.com   |
| 4          | Alice   | john@example.com    |
| 6          | Violet  | alice@example.com   |

**Implementation**

*Note: using inplace=True modifies the original DataFrame. To retain the original DataFrame and get a new one with duplicates removed, we should set inplace=False and assign the result to a new variable.*

---
Code
```
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates('email')
```